# coding: utf-8

"""
    Mimir DataHub API

    No descripton provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

    OpenAPI spec version: 0.0.9
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
"""

from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class ReleaseApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def add_release(self, user_id, data_set, body, **kwargs):
        """
        Create a new open release
        This creates a new release in a data set. The release defaults to the open (and therefore unpublished) state. 

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_release(user_id, data_set, body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str user_id: The id of the user that this dataset is associated with (required)
        :param str data_set: The id of the data set (required)
        :param DataSetRelease body: Release object that defines the element in a data set (required)
        :param str api_key: The user api key
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.add_release_with_http_info(user_id, data_set, body, **kwargs)
        else:
            (data) = self.add_release_with_http_info(user_id, data_set, body, **kwargs)
            return data

    def add_release_with_http_info(self, user_id, data_set, body, **kwargs):
        """
        Create a new open release
        This creates a new release in a data set. The release defaults to the open (and therefore unpublished) state. 

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.add_release_with_http_info(user_id, data_set, body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str user_id: The id of the user that this dataset is associated with (required)
        :param str data_set: The id of the data set (required)
        :param DataSetRelease body: Release object that defines the element in a data set (required)
        :param str api_key: The user api key
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_id', 'data_set', 'body', 'api_key']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_release" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_id' is set
        if ('user_id' not in params) or (params['user_id'] is None):
            raise ValueError("Missing the required parameter `user_id` when calling `add_release`")
        # verify the required parameter 'data_set' is set
        if ('data_set' not in params) or (params['data_set'] is None):
            raise ValueError("Missing the required parameter `data_set` when calling `add_release`")
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_release`")

        resource_path = '/releases/{userId}/{dataSet}'.replace('{format}', 'json')
        path_params = {}
        if 'user_id' in params:
            path_params['userId'] = params['user_id']
        if 'data_set' in params:
            path_params['dataSet'] = params['data_set']

        query_params = {}

        header_params = {}
        if 'api_key' in params:
            header_params['api_key'] = params['api_key']

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def delete_release(self, user_id, data_set, release, **kwargs):
        """
        Get release information
        This returns information about a release 

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_release(user_id, data_set, release, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str user_id: The id of the user that this dataset is associated with (required)
        :param str data_set: The id of the data set (required)
        :param str release: The id of the release (required)
        :param str api_key: The user api key
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.delete_release_with_http_info(user_id, data_set, release, **kwargs)
        else:
            (data) = self.delete_release_with_http_info(user_id, data_set, release, **kwargs)
            return data

    def delete_release_with_http_info(self, user_id, data_set, release, **kwargs):
        """
        Get release information
        This returns information about a release 

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_release_with_http_info(user_id, data_set, release, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str user_id: The id of the user that this dataset is associated with (required)
        :param str data_set: The id of the data set (required)
        :param str release: The id of the release (required)
        :param str api_key: The user api key
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_id', 'data_set', 'release', 'api_key']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_release" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_id' is set
        if ('user_id' not in params) or (params['user_id'] is None):
            raise ValueError("Missing the required parameter `user_id` when calling `delete_release`")
        # verify the required parameter 'data_set' is set
        if ('data_set' not in params) or (params['data_set'] is None):
            raise ValueError("Missing the required parameter `data_set` when calling `delete_release`")
        # verify the required parameter 'release' is set
        if ('release' not in params) or (params['release'] is None):
            raise ValueError("Missing the required parameter `release` when calling `delete_release`")

        resource_path = '/releases/{userId}/{dataSet}/{release}'.replace('{format}', 'json')
        path_params = {}
        if 'user_id' in params:
            path_params['userId'] = params['user_id']
        if 'data_set' in params:
            path_params['dataSet'] = params['data_set']
        if 'release' in params:
            path_params['release'] = params['release']

        query_params = {}

        header_params = {}
        if 'api_key' in params:
            header_params['api_key'] = params['api_key']

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def get_release(self, user_id, data_set, release, **kwargs):
        """
        Get release information
        This returns information about a release 

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_release(user_id, data_set, release, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str user_id: The id of the user that this dataset is associated with (required)
        :param str data_set: The id of the data set (required)
        :param str release: The id of the release (required)
        :param str api_key: The user api key
        :return: DataSetRelease
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_release_with_http_info(user_id, data_set, release, **kwargs)
        else:
            (data) = self.get_release_with_http_info(user_id, data_set, release, **kwargs)
            return data

    def get_release_with_http_info(self, user_id, data_set, release, **kwargs):
        """
        Get release information
        This returns information about a release 

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_release_with_http_info(user_id, data_set, release, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str user_id: The id of the user that this dataset is associated with (required)
        :param str data_set: The id of the data set (required)
        :param str release: The id of the release (required)
        :param str api_key: The user api key
        :return: DataSetRelease
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_id', 'data_set', 'release', 'api_key']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_release" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_id' is set
        if ('user_id' not in params) or (params['user_id'] is None):
            raise ValueError("Missing the required parameter `user_id` when calling `get_release`")
        # verify the required parameter 'data_set' is set
        if ('data_set' not in params) or (params['data_set'] is None):
            raise ValueError("Missing the required parameter `data_set` when calling `get_release`")
        # verify the required parameter 'release' is set
        if ('release' not in params) or (params['release'] is None):
            raise ValueError("Missing the required parameter `release` when calling `get_release`")

        resource_path = '/releases/{userId}/{dataSet}/{release}'.replace('{format}', 'json')
        path_params = {}
        if 'user_id' in params:
            path_params['userId'] = params['user_id']
        if 'data_set' in params:
            path_params['dataSet'] = params['data_set']
        if 'release' in params:
            path_params['release'] = params['release']

        query_params = {}

        header_params = {}
        if 'api_key' in params:
            header_params['api_key'] = params['api_key']

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='DataSetRelease',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))
